In [160]:
# The aim of this project is to analyse the data with respect to the sales and profit after filtering some of the columns.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/Users/SalmaDkier/Documents/Codings/4 Mini-Real-Projects to analyze /Global SuperStore 2016/global_superstore_2016.csv', encoding = 'latin1')

In [4]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 9.4+ MB

In [6]:
data.describe()

            Row ID   Postal Code      Quantity      Discount  Shipping Cost
count  51290.00000   9994.000000  51290.000000  51290.000000   51290.000000
mean   25645.50000  55190.379428      3.476545      0.142908      26.478567
std    14806.29199  32063.693350      2.278766      0.212280      57.251373
min        1.00000   1040.000000      1.000000      0.000000       1.002000
25%    12823.25000  23223.000000      2.000000      0.000000       2.610000
50%    25645.50000  56430.500000      3.000000      0.000000       7.790000
75%    38467.75000  90008.000000      5.000000      0.200000      24.450000
max    51290.00000  99301.000000     14.000000      0.850000     933.570000

In [7]:
#convert the columns 'Order Date' & 'Ship Date' to a Datetime objects

In [8]:
order_date = data['Order Date'].tolist()
order_date[:5]

['11-11-2014', '02-05-2014', '10/17/2014', '1/28/2014', '11-05-2014']

In [9]:
ship_date = data['Ship Date'].tolist()
ship_date[:5]

['11/13/2014', '02-07-2014', '10/18/2014', '1/30/2014', '11-06-2014']

In [10]:
order_datetime = pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [11]:
ship_datetime = pd.to_datetime(ship_date)
ship_datetime

DatetimeIndex(['2014-11-13', '2014-02-07', '2014-10-18', '2014-01-30',
               '2014-11-06', '2014-07-01', '2012-11-08', '2013-04-18',
               '2014-11-13', '2012-03-07',
               ...
               '2014-07-09', '2015-06-11', '2015-08-10', '2015-05-30',
               '2013-12-31', '2015-06-19', '2014-05-10', '2012-08-31',
               '2013-02-21', '2013-05-26'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [12]:
Order_date = pd.Series(order_datetime, name= 'Order_Date')
Ship_date = pd.Series(ship_datetime, name = 'Ship_Date')

In [13]:
data.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [14]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [15]:
data.drop(columns=['Row ID','Order Date', 'Ship Date','Customer ID','Postal Code'], inplace=True)
data.head(2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [16]:
df = pd.concat([data, Order_date, Ship_date], axis=1)
df.head(2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_Date,Ship_Date
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,...,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High,2014-11-11,2014-11-13
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,...,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical,2014-02-05,2014-02-07

In [17]:
df['Order_Date']

0       2014-11-11
1       2014-02-05
2       2014-10-17
3       2014-01-28
4       2014-11-05
           ...
51285   2015-06-19
51286   2014-05-06
51287   2012-08-26
51288   2013-02-17
51289   2013-05-22
Name: Order_Date, Length: 51290, dtype: datetime64[ns]

In [18]:
df['Ship_Date']

0       2014-11-13
1       2014-02-07
2       2014-10-18
3       2014-01-30
4       2014-11-06
           ...
51285   2015-06-19
51286   2014-05-10
51287   2012-08-31
51288   2013-02-21
51289   2013-05-26
Name: Ship_Date, Length: 51290, dtype: datetime64[ns]

In [19]:
df.columns.values

array(['Order ID', 'Ship Mode', 'Customer Name', 'Segment', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'Order_Date',
       'Ship_Date'], dtype=object)

In [20]:
df = df.reindex(columns=['Order ID','Order_Date',
       'Ship_Date', 'Ship Mode', 'Customer Name', 'Segment', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'])

In [21]:
df.head(2)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [22]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                     object
Quantity                   int64
Discount                 float64
Profit                    object
Shipping Cost            float64
Order Priority            object
dtype: object

In [23]:
df['Shipping Cost'] = df['Shipping Cost'].astype(int)

In [24]:
df['Shipping Cost'].value_counts

<bound method IndexOpsMixin.value_counts of 0         40
1        923
2        915
3        910
4        903
        ...
51285      1
51286      1
51287      1
51288      1
51289      1
Name: Shipping Cost, Length: 51290, dtype: int64>

In [25]:
if df['Sales'].str.contains('$').all():
    print('yes')

yes

In [26]:
if df['Profit'].str.contains(',').any():
    print('yes')

yes

In [27]:
df['Sales']

0          $221.98
1        $3,709.40
2        $5,175.17
3        $2,892.51
4        $2,832.96
            ...
51285       $65.10
51286       $16.72
51287        $8.56
51288       $13.44
51289       $61.38
Name: Sales, Length: 51290, dtype: object

In [28]:
df['Sales'] = df['Sales'].str.replace('$', '', regex=True)
df['Sales']

0          221.98
1        3,709.40
2        5,175.17
3        2,892.51
4        2,832.96
           ...
51285       65.10
51286       16.72
51287        8.56
51288       13.44
51289       61.38
Name: Sales, Length: 51290, dtype: object

In [29]:
df['Sales'] = df['Sales'].str.replace(',', '', regex=True)
df['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
           ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: object

In [30]:
df['Profit']

0          $62.15
1        ($288.77)
2         $919.97
3         ($96.54)
4         $311.52
           ...
51285       $4.50
51286       $3.34
51287       $2.48
51288       $2.40
51289       $1.80
Name: Profit, Length: 51290, dtype: object

In [31]:
df['Profit'] = df['Profit'].str.replace('$', '', regex=True)
df['Profit']

0          62.15
1        (288.77)
2         919.97
3         (96.54)
4         311.52
           ...
51285       4.50
51286       3.34
51287       2.48
51288       2.40
51289       1.80
Name: Profit, Length: 51290, dtype: object

In [32]:
df['Profit'] = df['Profit'].str.replace(',', '', regex=True)
df['Profit']

0          62.15
1        (288.77)
2         919.97
3         (96.54)
4         311.52
           ...
51285       4.50
51286       3.34
51287       2.48
51288       2.40
51289       1.80
Name: Profit, Length: 51290, dtype: object

In [33]:
df['Profit'] = df['Profit'].str.replace('(', '', regex=True)
df['Profit']

0         62.15
1        288.77)
2        919.97
3         96.54)
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: object

In [34]:
df['Profit'] = df['Profit'].str.replace(')', '', regex=True)
df['Profit']

0         62.15
1         288.77
2        919.97
3          96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: object

In [35]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                     object
Quantity                   int64
Discount                 float64
Profit                    object
Shipping Cost              int64
Order Priority            object
dtype: object

In [36]:
df['Profit'] = pd.to_numeric(df['Profit'] , downcast= 'signed')
df['Profit']

0         62.15
1        288.77
2        919.97
3         96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: float64

In [37]:
df['Sales'] = pd.to_numeric(df['Sales'] , downcast= 'integer')
df['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
          ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: float64

In [38]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost              int64
Order Priority            object
dtype: object

In [39]:
df['Profit'] = df['Profit'].astype(int)
df['Sales'] = df['Sales'].astype(int)

In [40]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                      int64
Quantity                   int64
Discount                 float64
Profit                     int64
Shipping Cost              int64
Order Priority            object
dtype: object

In [41]:
#1. Total, how many orders have cross the shipping cost of 500?

In [42]:
df.head(5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221,2,0.0,62,40,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical

In [43]:
cond1 = (df['Shipping Cost'] > 500.00 )

In [44]:
a1 = df[cond1]
a1[:5]

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical
5,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,Jim Mitchum,Corporate,Sydney,New South Wales,Australia,Oceania,...,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862,5,0.1,763,897,Critical

In [45]:
a1.shape

(120, 21)

In [46]:
len(a1['Order ID'])

120

In [47]:
#2. Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.

In [48]:
df['Segment'].value_counts()

Consumer       26518
Corporate      15429
Home Office     9343
Name: Segment, dtype: int64

In [49]:
df['Country'].value_counts()

United States    9994
Australia        2837
France           2827
Mexico           2635
Germany          2063
                 ...
Bhutan              1
Malawi              1
Kuwait              1
Suriname            1
The Gambia          1
Name: Country, Length: 165, dtype: int64

In [50]:
df['Region'].value_counts()

Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: Region, dtype: int64

In [51]:
df['Market'].value_counts()

Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
Name: Market, dtype: int64

In [52]:
df['Category'].value_counts()

Office Supplies    31289
Technology         10141
Furniture           9860
Name: Category, dtype: int64

In [53]:
len(df['Category'].value_counts())

3

In [54]:
df['Sub-Category'].value_counts()

Binders        6146
Storage        5049
Art            4864
Paper          3492
Chairs         3434
Phones         3357
Furnishings    3154
Accessories    3075
Labels         2601
Fasteners      2601
Bookcases      2411
Supplies       2407
Envelopes      2387
Copiers        2223
Appliances     1742
Machines       1486
Tables          861
Name: Sub-Category, dtype: int64

In [55]:
#3. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

In [56]:
cond2 = ( df['Category'] == 'Technology') & (df['Shipping Cost'] >= 500 ) & (df['Country'] == 'India')

In [57]:
a2 = df[cond2]
a2.head(5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,Gorakhpur,Haryana,India,Southern Asia,...,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518,7,0.0,632,658,High
48,IN-2015-SW2027558-42125,2015-05-01,2015-05-01,Same Day,Scott Williamson,Consumer,Jamshedpur,Jharkhand,India,Southern Asia,...,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174,7,0.0,500,637,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,Bhopal,Madhya Pradesh,India,Southern Asia,...,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,625,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,Delhi,Delhi,India,Southern Asia,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916,3,0.0,498,548,Critical

In [58]:
a2['Order ID'].tolist()

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419']

In [59]:
a2.shape

(4, 21)

In [60]:
#4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.

In [61]:
cond3 = ( df['Category'] == 'Technology') & (df['Sales'] >= 500 ) & (df['Country'] == 'India')

In [62]:
a3 = df[cond3]
a3.shape

(163, 21)

In [63]:
liste= a3['Order ID'].tolist()
liste[:5]

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419',
 'IN-2014-SV2081558-41968']

In [64]:
len(a3)

163

In [65]:
#5. How many people from the State 'Karnataka' have bought the things under the category 'Technology'?

In [66]:
cond4 = ( df['State'] == 'Karnataka') & (df['Category'] == 'Technology')
a4 = df[cond4]
len(a4)

21

In [67]:
#6. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

In [68]:
print('Max Profit:', max(df['Profit']))
print('Min Profit:', min(df['Profit']))

Max Profit: 8399
Min Profit: 0

In [69]:
cond5 = (df['Profit'] > 0) & (df[ 'Category'] == 'Technology')

In [72]:
a5 = df[cond5]
a5.shape

(9915, 21)

In [73]:
a6 = a5.sort_values(by=['Profit'], ascending=False)

In [74]:
a6.head(5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
49003,CA-2014-TC20980140-41915,2014-10-03,2014-10-10,Standard Class,Tamara Chand,Corporate,Lafayette,Indiana,United States,Central US,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499,5,0.0,8399,349,Medium
44248,CA-2015-RB19360140-42087,2015-03-24,2015-03-26,First Class,Raymond Buch,Consumer,Seattle,Washington,United States,Western US,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999,4,0.0,6719,20,Medium
11755,CA-2014-CS12505140-41969,2014-11-26,2014-12-03,Standard Class,Cindy Stewart,Consumer,Lancaster,Ohio,United States,Eastern US,...,TEC-MA-3854,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499,5,0.7,6599,451,Low
25238,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,Hunter Lopez,Consumer,Newark,Delaware,United States,Eastern US,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499,3,0.0,5039,363,Medium
6591,TU-2014-DM3345134-41908,2014-09-26,2014-09-26,Same Day,Denise Monton,Corporate,Bornova,Izmir,Turkey,Western Asia,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",3085,12,0.6,4088,51,Critical

In [75]:
a6['Country']

49003    United States
44248    United States
11755    United States
25238    United States
6591            Turkey
             ...
45055    United States
46466        Venezuela
31893    United States
30799           Russia
41207             Iraq
Name: Country, Length: 9915, dtype: object

In [79]:
countries_top_profit = a6['Country'].drop_duplicates().tolist()
countries_top_profit[:5]

['United States', 'Turkey', 'Pakistan', 'Japan', 'India']

In [80]:
ranked_data = a6['Country'].drop_duplicates().rank(ascending=False, method= 'average')

In [81]:
type(ranked_data)

pandas.core.series.Series

In [82]:
ranked_countries = a6['Country'].drop_duplicates()

In [83]:
ranked_series = pd.concat([ranked_countries,ranked_data], axis = 1)
ranked_series

             Country  Country
49003  United States      8.0
6591          Turkey     14.0
362         Pakistan     49.0
215            Japan     79.0
313            India     87.0
...              ...      ...
19592           Togo     17.0
29037      Swaziland     25.0
29689     Luxembourg     69.0
33381      Sri Lanka     27.0
5060         Bahrain    137.0

[145 rows x 2 columns]

In [84]:
#7. Display data with min, max, average and std of 'Profit'& 'Sales' for each Sub-Category under each Category

In [85]:
grouped_data = df.groupby(by=['Country', 'Category', 'Sub-Category'], as_index=True)
grouped_data

In [86]:
#grouped_data[['Sales', 'Profit']].min()

In [87]:
functions = [('min_value', 'min'), ('max_value', 'max'), ('mean_value', 'mean'), ('std_value', 'std')
        ]

In [88]:
grouped_data['Sales', 'Profit'].agg(functions)

/var/folders/cp/zzchzjw14jb8x0ffxgyywy3m0000gp/T/ipykernel_1581/1835645435.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data['Sales', 'Profit'].agg(functions)

                                             Sales                         \
                                         min_value max_value   mean_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases          731      2070  1400.500000
                            Chairs             417       914   665.500000
                            Furnishings         84       219   134.500000
                            Tables             267      4626  2113.333333
            Office Supplies Appliances         669       669   669.000000
...                                            ...       ...          ...
Zimbabwe    Office Supplies Supplies            10        66    37.833333
            Technology      Accessories         77        77    77.000000
                            Copiers            154       444   299.000000
                            Machines            14       104    52.500000
                            Phones              21       101    61.000000

                                                         Profit            \
                                            std_value min_value max_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases      946.815980       102       848
                            Chairs         351.432070        45       356
                            Furnishings     51.251341         1        79
                            Tables        2254.599817        34       647
            Office Supplies Appliances            NaN       280       280
...                                               ...       ...       ...
Zimbabwe    Office Supplies Supplies        25.031314        12        55
            Technology      Accessories           NaN        59        59
                            Copiers        205.060967       257       371
                            Machines        42.696604        20       173
                            Phones          56.568542        47       169


                                          mean_value   std_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases     475.000000  527.501659
                            Chairs        200.500000  219.910209
                            Furnishings    32.333333   32.240761
                            Tables        415.000000  332.555259
            Office Supplies Appliances    280.000000         NaN
...                                              ...         ...
Zimbabwe    Office Supplies Supplies       37.166667   15.917496
            Technology      Accessories    59.000000         NaN
                            Copiers       314.000000   80.610173
                            Machines       76.500000   72.958893
                            Phones        108.000000   86.267027

[2009 rows x 8 columns]