In [160]:
# The aim of this project is to analyse the data with respect to the sales and profit after filtering some of the columns.

In [161]:
import pandas as pd
import numpy as np

In [162]:
data = pd.read_csv('/Users/SalmaDkier/Documents/Codings/4 Mini-Real-Projects to analyze /Global SuperStore 2016/global_superstore_2016.csv', encoding = 'latin1')

In [163]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 9.4+ MB

In [165]:
data.describe()

            Row ID   Postal Code      Quantity      Discount  Shipping Cost
count  51290.00000   9994.000000  51290.000000  51290.000000   51290.000000
mean   25645.50000  55190.379428      3.476545      0.142908      26.478567
std    14806.29199  32063.693350      2.278766      0.212280      57.251373
min        1.00000   1040.000000      1.000000      0.000000       1.002000
25%    12823.25000  23223.000000      2.000000      0.000000       2.610000
50%    25645.50000  56430.500000      3.000000      0.000000       7.790000
75%    38467.75000  90008.000000      5.000000      0.200000      24.450000
max    51290.00000  99301.000000     14.000000      0.850000     933.570000

In [166]:
#convert the columns 'Order Date' & 'Ship Date' to a Datetime objects

In [167]:
order_date = data['Order Date'].tolist()
order_date

['11-11-2014',
 '02-05-2014',
 '10/17/2014',
 '1/28/2014',
 '11-05-2014',
 '6/28/2014',
 '11-06-2012',
 '4/14/2013',
 '11-11-2014',
 '03-06-2012',
 '03-06-2012',
 '4/19/2013',
 '12/26/2012',
 '11/13/2013',
 '06-06-2014',
 '7/31/2015',
 '2/19/2012',
 '09-08-2015',
 '1/31/2015',
 '12-05-2015',
 '08-08-2013',
 '03-06-2012',
 '05-01-2012',
 '2/27/2014',
 '7/31/2015',
 '09-05-2015',
 '12/16/2012',
 '3/13/2012',
 '4/21/2012',
 '2/24/2013',
 '12/27/2012',
 '7/17/2013',
 '12/27/2013',
 '11-02-2012',
 '12/27/2013',
 '9/13/2012',
 '05-12-2012',
 '12/30/2012',
 '1/14/2015',
 '01-10-2012',
 '8/22/2014',
 '11-11-2015',
 '9/26/2015',
 '12/13/2013',
 '9/22/2012',
 '3/21/2014',
 '03-08-2014',
 '8/28/2015',
 '05-01-2015',
 '12/18/2015',
 '10/24/2012',
 '9/18/2015',
 '12/30/2012',
 '12/16/2012',
 '12/18/2014',
 '5/30/2013',
 '4/21/2012',
 '5/25/2013',
 '08-05-2015',
 '05-12-2012',
 '03-11-2015',
 '12/19/2015',
 '08-11-2015',
 '8/31/2014',
 '1/18/2015',
 '01-03-2015',
 '12-07-2015',
 '12/16/2015',
 '11/20/2015',
 '11-08-2012',
 '06-07-2014',
 '11/21/2012',
 '3/29/2014',
 '8/26/2015',
 '9/20/2013',
 '5/16/2015',
 '08-02-2015',
 '11/24/2014',
 '11-08-2012',
 '10/27/2012',
 '11/19/2015',
 '10/28/2015',
 '9/26/2014',
 '09-05-2015',
 '1/29/2014',
 '9/18/2013',
 '11/23/2014',
 '6/13/2013',
 '10/28/2014',
 '12-12-2014',
 '5/25/2013',
 '10-04-2015',
 '12-02-2014',
 '01-03-2015',
 '1/28/2014',
 '05-07-2013',
 '11/27/2014',
 '11/28/2013',
 '9/29/2013',
 '09-03-2014',
 '7/26/2014',
 '11/19/2015',
 '6/19/2013',
 '10-11-2013',
 '08-08-2012',
 '11-04-2012',
 '7/26/2012',
 '4/26/2014',
 '12/26/2014',
 '3/13/2014',
 '3/29/2014',
 '04-05-2013',
 '12/26/2013',
 '4/18/2014',
 '5/23/2012',
 '08-02-2015',
 '5/16/2014',
 '01-03-2015',
 '2/16/2012',
 '5/31/2014',
 '10-01-2014',
 '11-07-2015',
 '09-02-2014',
 '12-11-2014',
 '3/18/2015',
 '12/19/2015',
 '11-07-2015',
 '3/14/2014',
 '11-07-2015',
 '9/18/2015',
 '11/25/2014',
 '11-07-2014',
 '7/19/2015',
 '8/16/2013',
 '11-06-2015',
 '01-10-2013',
 '1/28/2014',
 '6/14/2013',
 '11-06-2015',
 '09-02-2014',
 '12-06-2013',
 '09-05-2014',
 '9/18/2015',
 '09-02-2014',
 '08-03-2013',
 '12-09-2015',
 '10/25/2013',
 '05-08-2015',
 '8/27/2014',
 '05-12-2012',
 '11-02-2012',
 '08-02-2015',
 '9/19/2012',
 '3/14/2014',
 '03-11-2014',
 '02-01-2013',
 '3/14/2014',
 '04-09-2015',
 '8/30/2014',
 '3/19/2015',
 '10-02-2014',
 '01-12-2014',
 '8/20/2015',
 '12/16/2012',
 '3/14/2015',
 '9/18/2013',
 '07-09-2015',
 '06-11-2014',
 '08-09-2012',
 '3/17/2015',
 '01-02-2014',
 '09-02-2014',
 '10-10-2013',
 '09-02-2014',
 '6/16/2012',
 '04-03-2015',
 '5/16/2012',
 '02-11-2015',
 '10-12-2014',
 '9/17/2015',
 '7/17/2015',
 '11/22/2015',
 '5/29/2012',
 '11-06-2015',
 '7/17/2015',
 '8/29/2015',
 '12/26/2013',
 '11-11-2015',
 '05-01-2014',
 '8/15/2012',
 '12-03-2015',
 '6/25/2014',
 '1/21/2014',
 '10/24/2015',
 '07-12-2015',
 '10/24/2015',
 '09-01-2015',
 '10/24/2015',
 '06-06-2012',
 '10-12-2012',
 '06-10-2014',
 '12/13/2015',
 '9/16/2014',
 '06-10-2015',
 '2/15/2012',
 '11/28/2014',
 '6/27/2014',
 '4/16/2015',
 '08-08-2012',
 '12/18/2014',
 '08-02-2013',
 '6/19/2013',
 '04-07-2015',
 '08-02-2014',
 '5/22/2015',
 '02-10-2012',
 '9/27/2014',
 '06-02-2015',
 '9/30/2014',
 '7/18/2012',
 '8/14/2015',
 '10/24/2015',
 '10/31/2015',
 '7/25/2014',
 '10-07-2015',
 '10/17/2015',
 '12-03-2014',
 '11-08-2015',
 '06-10-2014',
 '9/20/2012',
 '6/20/2012',
 '9/26/2015',
 '5/20/2015',
 '11/26/2015',
 '3/30/2013',
 '11-09-2012',
 '10/24/2015',
 '08-01-2013',
 '12/18/2014',
 '6/27/2014',
 '6/27/2014',
 '1/23/2014',
 '5/20/2012',
 '9/28/2015',
 '11-05-2012',
 '1/28/2015',
 '9/13/2015',
 '11/27/2015',
 '12/21/2012',
 '02-05-2014',
 '12/27/2012',
 '10/24/2015',
 '4/26/2012',
 '10-05-2012',
 '8/24/2014',
 '9/21/2014',
 '12/17/2015',
 '11/15/2012',
 '12/21/2013',
 '9/26/2015',
 '06-03-2015',
 '09-12-2015',
 '4/17/2015',
 '11/21/2013',
 '03-06-2015',
 '7/23/2013',
 '11-07-2015',
 '11/22/2015',
 '06-10-2012',
 '9/14/2013',
 '11/24/2012',
 '08-10-2013',
 '3/20/2014',
 '12/30/2014',
 '10-04-2013',
 '08-06-2013',
 '10-02-2013',
 '3/26/2015',
 '11/21/2015',
 '11/29/2012',
 '11-02-2012',
 '5/20/2015',
 '12-06-2013',
 '12-03-2014',
 '12/20/2013',
 '9/13/2013',
 '9/17/2015',
 '9/21/2012',
 '11-09-2013',
 '5/23/2013',
 '6/22/2014',
 '4/14/2015',
 '8/29/2015',
 '5/16/2015',
 '12/13/2013',
 '3/30/2012',
 '02-03-2013',
 '5/29/2014',
 '8/29/2013',
 '6/14/2012',
 '8/28/2015',
 '10/26/2012',
 '3/19/2015',
 '09-11-2015',
 '8/28/2013',
 '9/17/2015',
 '08-01-2014',
 '6/22/2014',
 '12/24/2015',
 '9/17/2015',
 '2/22/2013',
 '10-11-2015',
 '4/21/2015',
 '06-12-2014',
 '9/17/2014',
 '9/19/2015',
 '11/26/2015',
 '09-01-2015',
 '6/20/2015',
 '10/23/2015',
 '8/15/2012',
 '09-12-2015',
 '04-02-2015',
 '1/14/2015',
 '11/13/2015',
 '6/13/2014',
 '9/17/2015',
 '9/22/2015',
 '01-08-2012',
 '9/21/2012',
 '7/30/2014',
 '12-03-2015',
 '4/30/2015',
 '9/27/2012',
 '6/24/2015',
 '04-05-2012',
 '08-07-2015',
 '04-02-2015',
 '2/14/2015',
 '12/23/2012',
 '8/17/2013',
 '11-09-2013',
 '08-07-2013',
 '6/22/2014',
 '05-03-2014',
 '08-09-2013',
 '2/21/2014',
 '7/18/2013',
 '09-12-2014',
 '04-09-2015',
 '6/18/2013',
 '12/31/2014',
 '05-03-2014',
 '1/15/2013',
 '06-12-2013',
 '3/17/2015',
 '11/13/2013',
 '05-03-2014',
 '9/17/2015',
 '5/16/2015',
 '11-09-2013',
 '12/22/2015',
 '9/14/2014',
 '01-07-2014',
 '6/27/2015',
 '7/13/2013',
 '02-11-2015',
 '5/29/2015',
 '4/16/2015',
 '11/27/2015',
 '11-08-2012',
 '9/18/2015',
 '2/24/2015',
 '09-03-2014',
 '12/23/2014',
 '6/17/2015',
 '3/15/2015',
 '07-12-2015',
 '06-09-2015',
 '10/15/2015',
 '08-06-2015',
 '12/25/2013',
 '12-07-2013',
 '5/16/2014',
 '6/17/2014',
 '11-03-2015',
 '5/28/2013',
 '8/17/2014',
 '06-02-2012',
 '7/13/2012',
 '11-09-2013',
 '10/16/2012',
 '11/13/2012',
 '7/14/2015',
 '06-03-2015',
 '12/15/2015',
 '6/28/2015',
 '12/20/2015',
 '02-05-2013',
 '1/21/2012',
 '08-03-2013',
 '10/27/2015',
 '2/26/2013',
 '06-11-2013',
 '2/23/2012',
 '9/21/2012',
 '7/20/2014',
 '3/29/2014',
 '10/23/2015',
 '6/24/2015',
 '10/30/2014',
 '12/13/2013',
 '05-04-2014',
 '9/21/2012',
 '09-07-2012',
 '4/22/2013',
 '10/30/2014',
 '4/15/2012',
 '09-12-2014',
 '12/18/2014',
 '10/31/2015',
 '04-12-2014',
 '11-11-2014',
 '10/13/2013',
 '10/13/2013',
 '1/30/2015',
 '10-12-2013',
 '06-06-2015',
 '11/20/2015',
 '9/19/2014',
 '12/31/2013',
 '12/29/2015',
 '11/15/2014',
 '12/19/2012',
 '5/19/2015',
 '09-08-2015',
 '6/17/2014',
 '12-07-2012',
 '9/19/2015',
 '9/26/2014',
 '02-10-2015',
 '02-08-2015',
 '08-05-2014',
 '4/15/2015',
 '11-07-2013',
 '05-05-2015',
 '11-04-2014',
 '06-10-2015',
 '8/31/2013',
 '6/20/2014',
 '8/23/2015',
 '5/28/2013',
 '5/19/2015',
 '4/29/2014',
 '12/23/2014',
 '10-12-2015',
 '4/15/2015',
 '11/28/2015',
 '05-11-2013',
 '6/18/2014',
 '05-04-2013',
 '11-10-2012',
 '12/24/2015',
 '5/15/2015',
 '12-09-2015',
 '12-06-2012',
 '09-10-2014',
 '03-02-2012',
 '01-01-2013',
 '10/30/2013',
 '11/19/2014',
 '8/15/2014',
 '06-08-2014',
 '10-02-2015',
 '2/27/2015',
 '10/31/2014',
 '12/18/2014',
 '05-09-2015',
 '07-04-2015',
 '5/17/2013',
 '08-02-2012',
 '9/20/2015',
 '2/14/2014',
 '5/23/2013',
 '08-04-2015',
 '11/13/2014',
 '02-12-2015',
 '11-11-2015',
 '3/30/2014',
 '11-07-2013',
 '9/20/2015',
 '8/19/2014',
 '5/29/2015',
 '8/22/2013',
 '07-05-2015',
 '3/14/2013',
 '5/15/2015',
 '9/16/2015',
 '08-07-2015',
 '09-09-2014',
 '09-08-2015',
 '11-07-2013',
 '10/17/2013',
 '2/17/2015',
 '2/23/2013',
 '12-03-2013',
 '12-12-2013',
 '6/16/2015',
 '12/20/2013',
 '5/13/2015',
 '08-04-2015',
 '11-07-2015',
 '06-10-2014',
 '05-10-2013',
 '9/13/2014',
 '7/25/2014',
 '10-11-2015',
 '11/21/2012',
 '11-07-2013',
 '10/25/2015',
 '02-02-2014',
 '10/14/2014',
 '2/14/2012',
 '05-01-2015',
 '03-10-2012',
 '08-03-2013',
 '12/20/2013',
 '08-03-2013',
 '6/20/2013',
 '02-08-2014',
 '9/27/2012',
 '6/23/2013',
 '12/20/2014',
 '10-11-2013',
 '8/28/2012',
 '7/18/2015',
 '12-05-2012',
 '4/16/2015',
 '9/20/2015',
 '09-01-2012',
 '08-01-2014',
 '09-12-2015',
 '08-06-2015',
 '11/20/2015',
 '05-04-2013',
 '8/27/2013',
 '12/24/2014',
 '1/29/2014',
 '5/15/2015',
 '12/26/2012',
 '11/30/2013',
 '5/21/2014',
 '11-07-2013',
 '6/27/2015',
 '9/20/2015',
 '7/25/2014',
 '11/20/2015',
 '10/26/2012',
 '11-07-2013',
 '12/26/2013',
 '12/19/2012',
 '05-07-2013',
 '01-08-2012',
 '12/19/2014',
 '04-09-2015',
 '6/17/2012',
 '01-09-2013',
 '02-11-2015',
 '7/17/2012',
 '04-12-2013',
 '01-03-2015',
 '04-09-2015',
 '12/13/2015',
 '07-03-2015',
 '8/18/2015',
 '10-07-2015',
 '6/20/2014',
 '07-11-2015',
 '4/24/2015',
 '05-03-2012',
 '10-05-2012',
 '11-12-2015',
 '12/17/2015',
 '8/18/2015',
 '04-05-2014',
 '9/19/2015',
 '12/19/2014',
 '07-10-2015',
 '10-06-2015',
 '06-01-2014',
 '8/20/2013',
 '8/29/2012',
 '12-04-2013',
 '10/13/2015',
 '12/19/2014',
 '6/16/2013',
 '8/20/2014',
 '6/21/2013',
 '5/23/2013',
 '4/30/2014',
 '6/15/2013',
 '12/19/2014',
 '12/18/2014',
 '7/21/2015',
 '02-08-2014',
 '10/26/2012',
 '12/19/2014',
 '2/26/2014',
 '11/25/2012',
 '8/20/2013',
 '5/24/2013',
 '11-03-2012',
 '9/21/2012',
 '10/17/2014',
 '12/19/2014',
 '06-05-2014',
 '5/14/2014',
 '12/19/2014',
 '07-03-2015',
 '10/21/2014',
 '08-11-2015',
 '05-04-2014',
 '7/15/2014',
 '12/19/2014',
 '12-02-2015',
 '01-08-2015',
 '07-01-2014',
 '6/27/2015',
 '03-11-2012',
 '1/15/2014',
 '8/28/2013',
 '11/18/2012',
 '12/24/2015',
 '6/16/2013',
 '07-11-2014',
 '5/22/2013',
 '08-05-2015',
 '08-12-2015',
 '12/26/2013',
 '01-05-2014',
 '12/29/2015',
 '12/16/2014',
 '2/27/2014',
 '07-04-2013',
 '8/20/2013',
 '11-01-2015',
 '07-03-2013',
 '11/29/2015',
 '04-07-2012',
 '11/20/2015',
 '05-09-2013',
 '11/19/2013',
 '09-01-2015',
 '11-04-2014',
 '11/20/2015',
 '11/19/2014',
 '12/31/2015',
 '11/14/2014',
 '02-01-2013',
 '3/19/2014',
 '3/21/2013',
 '5/24/2015',
 '6/14/2014',
 '03-04-2012',
 '03-04-2012',
 '03-04-2012',
 '12-09-2014',
 '10-09-2014',
 '10/16/2014',
 '12/23/2012',
 '4/16/2014',
 '08-08-2012',
 '03-04-2012',
 '10/18/2012',
 '2/23/2012',
 '03-09-2012',
 '1/25/2015',
 '6/18/2015',
 '12/23/2012',
 '01-08-2014',
 '01-04-2014',
 '1/31/2015',
 '11-03-2012',
 '09-05-2015',
 '9/24/2014',
 '6/21/2012',
 '8/30/2013',
 '6/17/2014',
 '11/20/2015',
 '12/18/2013',
 '9/25/2014',
 '3/24/2015',
 '1/31/2014',
 '12-02-2012',
 '5/28/2015',
 '6/14/2015',
 '11-11-2012',
 '5/31/2014',
 '03-04-2012',
 '8/16/2012',
 '03-06-2013',
 '11/20/2015',
 '08-06-2015',
 '6/18/2015',
 '12/31/2015',
 '9/24/2013',
 '2/18/2014',
 '11/20/2015',
 '11/20/2015',
 '11/24/2015',
 '9/23/2015',
 '11-04-2015',
 '09-01-2015',
 '09-10-2013',
 '1/21/2014',
 '4/17/2015',
 '03-08-2014',
 '2/25/2012',
 '3/28/2013',
 '9/16/2015',
 '07-08-2014',
 '6/25/2013',
 '12/31/2014',
 '9/16/2015',
 '1/29/2015',
 '09-07-2012',
 '2/17/2015',
 '5/30/2013',
 '01-02-2014',
 '11/23/2013',
 '04-11-2015',
 '08-03-2013',
 '11/18/2015',
 '12-12-2012',
 '6/20/2015',
 '4/15/2015',
 '5/21/2014',
 '10-03-2015',
 '12/25/2012',
 '9/24/2015',
 '6/25/2013',
 '8/26/2015',
 '11/18/2015',
 '12-01-2013',
 '09-06-2015',
 '9/30/2015',
 '3/31/2015',
 '9/26/2013',
 '12/30/2015',
 '1/20/2015',
 '7/15/2014',
 '2/28/2012',
 '3/31/2015',
 '06-03-2014',
 '03-05-2014',
 '11/15/2012',
 '10/15/2015',
 '5/22/2012',
 '05-10-2013',
 '8/29/2015',
 '6/21/2015',
 '05-08-2015',
 '8/19/2014',
 '6/27/2014',
 '1/24/2012',
 '3/28/2013',
 '12-04-2015',
 '6/28/2014',
 '5/24/2013',
 '12-08-2015',
 '12-11-2013',
 '03-05-2015',
 '6/25/2014',
 '06-02-2015',
 '9/26/2012',
 '06-05-2014',
 '10/16/2014',
 '12-06-2015',
 '6/25/2013',
 '11/21/2015',
 '11-10-2013',
 '06-07-2012',
 '04-07-2015',
 '10/17/2012',
 '4/25/2013',
 '8/31/2013',
 '4/18/2013',
 '12/20/2014',
 '06-04-2014',
 '6/25/2013',
 '8/16/2013',
 '8/14/2015',
 '4/15/2015',
 '09-03-2014',
 '5/29/2015',
 '6/24/2014',
 '4/15/2015',
 '05-08-2015',
 '12-06-2015',
 '2/13/2015',
 '11/28/2015',
 '8/24/2013',
 '08-02-2015',
 '11/28/2014',
 '8/18/2012',
 '3/13/2015',
 '04-04-2014',
 '1/23/2015',
 '5/17/2015',
 '4/23/2014',
 '1/23/2015',
 '9/14/2013',
 '9/26/2015',
 '10-05-2013',
 '10/29/2015',
 '11/22/2012',
 '12-10-2015',
 '12-08-2012',
 '12/25/2012',
 '12/17/2014',
 '4/14/2015',
 '12/20/2015',
 '9/17/2014',
 '12-02-2015',
 '05-01-2015',
 '12/26/2013',
 '10-11-2014',
 '4/25/2013',
 '6/23/2015',
 '11/28/2013',
 '6/27/2015',
 '6/26/2015',
 '9/17/2013',
 '11/28/2014',
 '11/14/2015',
 '7/23/2015',
 '09-04-2015',
 '6/14/2013',
 '1/23/2015',
 '12-02-2015',
 '1/18/2015',
 '6/26/2015',
 '1/25/2013',
 '07-07-2013',
 '11/27/2012',
 '11/27/2015',
 '12-07-2013',
 '11/18/2012',
 '12/17/2013',
 '11/19/2014',
 '09-02-2015',
 '5/16/2015',
 '11-05-2014',
 '11-06-2012',
 '04-09-2014',
 '06-12-2015',
 '06-10-2014',
 '07-05-2015',
 '05-01-2014',
 '07-04-2013',
 '11-06-2013',
 '1/23/2015',
 '9/14/2012',
 '12/26/2014',
 '12/19/2014',
 '09-02-2015',
 '12/19/2014',
 '6/25/2014',
 '6/25/2012',
 '9/24/2015',
 '03-05-2013',
 '12/19/2014',
 '10-04-2014',
 '11-08-2013',
 '1/27/2013',
 '12/19/2013',
 '08-08-2012',
 '03-05-2013',
 '12/17/2015',
 '11/15/2012',
 '10/18/2014',
 '10-09-2015',
 '3/24/2015',
 '11-06-2015',
 '12/31/2013',
 '8/25/2015',
 '8/25/2015',
 '04-09-2015',
 '10-04-2015',
 '11-10-2013',
 '10/17/2015',
 '12-04-2015',
 '10/25/2013',
 '9/20/2012',
 '11-10-2012',
 '12-07-2013',
 '3/13/2013',
 '12/25/2015',
 '12/28/2012',
 '10/14/2015',
 '1/28/2015',
 '11/13/2014',
 '09-03-2015',
 '8/15/2013',
 '7/14/2015',
 '01-12-2013',
 '4/25/2013',
 '10/14/2014',
 '05-07-2013',
 '08-07-2012',
 '12/16/2012',
 '11/24/2015',
 '11/14/2012',
 '11-05-2013',
 '01-06-2013',
 '11/28/2012',
 '9/22/2012',
 '8/28/2013',
 '03-09-2015',
 '11-10-2013',
 '6/17/2015',
 '06-05-2013',
 '05-03-2014',
 '10-02-2014',
 '12/14/2012',
 '10/25/2013',
 '2/18/2014',
 '09-11-2015',
 '10/15/2014',
 '12-07-2013',
 '10/16/2014',
 '03-11-2015',
 '9/17/2015',
 '11-03-2012',
 '9/29/2015',
 '07-09-2015',
 '3/19/2013',
 '6/13/2014',
 '8/31/2014',
 '5/24/2014',
 '6/28/2012',
 '12/13/2012',
 '11/28/2012',
 '08-12-2014',
 '09-10-2013',
 '06-11-2014',
 '10/24/2014',
 '06-11-2014',
 '9/20/2013',
 '5/15/2015',
 '2/20/2014',
 '12-09-2012',
 '10/18/2014',
 '11/29/2014',
 '12/24/2015',
 '02-05-2013',
 '12-07-2013',
 '8/28/2015',
 '02-09-2014',
 '03-09-2015',
 '05-11-2012',
 '10/17/2012',
 '08-12-2014',
 '6/24/2015',
 '1/31/2015',
 '5/26/2015',
 '10/25/2012',
 '1/28/2015',
 '5/22/2014',
 '08-11-2012',
 '05-02-2012',
 '8/26/2014',
 '10-01-2013',
 '6/25/2014',
 '9/18/2015',
 '4/21/2015',
 '10/17/2012',
 '3/28/2015',
 '09-08-2015',
 '11/18/2014',
 '10/17/2015',
 '03-07-2013',
 '4/16/2015',
 '6/18/2013',
 '7/13/2012',
 '5/30/2014',
 '6/17/2014',
 '3/26/2015',
 '9/14/2012',
 '9/20/2013',
 '10/17/2012',
 '12/16/2012',
 '9/18/2015',
 '8/20/2012',
 '9/24/2013',
 '04-01-2015',
 '12-09-2015',
 '10/17/2014',
 '1/19/2014',
 '12-10-2015',
 ...]

In [168]:
ship_date = data['Ship Date'].tolist()
ship_date

['11/13/2014',
 '02-07-2014',
 '10/18/2014',
 '1/30/2014',
 '11-06-2014',
 '07-01-2014',
 '11-08-2012',
 '4/18/2013',
 '11/13/2014',
 '03-07-2012',
 '03-07-2012',
 '4/22/2013',
 '12/28/2012',
 '11/13/2013',
 '06-08-2014',
 '08-03-2015',
 '2/25/2012',
 '9/14/2015',
 '02-01-2015',
 '12-07-2015',
 '08-10-2013',
 '03-07-2012',
 '05-02-2012',
 '03-01-2014',
 '08-01-2015',
 '09-08-2015',
 '12/19/2012',
 '3/16/2012',
 '4/23/2012',
 '2/24/2013',
 '12/29/2012',
 '7/19/2013',
 '12/31/2013',
 '11-04-2012',
 '12/31/2013',
 '9/14/2012',
 '5/18/2012',
 '12/31/2012',
 '1/18/2015',
 '01-11-2012',
 '8/26/2014',
 '11/15/2015',
 '9/28/2015',
 '12/17/2013',
 '9/24/2012',
 '3/26/2014',
 '03-08-2014',
 '8/29/2015',
 '05-01-2015',
 '12/20/2015',
 '10/27/2012',
 '9/21/2015',
 '12/31/2012',
 '12/19/2012',
 '12/18/2014',
 '5/31/2013',
 '4/23/2012',
 '5/28/2013',
 '08-06-2015',
 '5/18/2012',
 '3/13/2015',
 '12/23/2015',
 '8/16/2015',
 '09-03-2014',
 '1/23/2015',
 '01-05-2015',
 '12-08-2015',
 '12/19/2015',
 '11/20/2015',
 '11-10-2012',
 '06-09-2014',
 '11/22/2012',
 '3/31/2014',
 '8/27/2015',
 '9/22/2013',
 '5/18/2015',
 '08-08-2015',
 '11/25/2014',
 '11-10-2012',
 '10/27/2012',
 '11/23/2015',
 '10/30/2015',
 '9/28/2014',
 '09-06-2015',
 '02-05-2014',
 '9/21/2013',
 '11/23/2014',
 '6/13/2013',
 '10/31/2014',
 '12/14/2014',
 '5/28/2013',
 '10-09-2015',
 '12-02-2014',
 '01-05-2015',
 '1/30/2014',
 '05-07-2013',
 '11/29/2014',
 '12-02-2013',
 '9/29/2013',
 '09-05-2014',
 '08-01-2014',
 '11/25/2015',
 '6/19/2013',
 '10/14/2013',
 '08-10-2012',
 '11-08-2012',
 '08-01-2012',
 '4/28/2014',
 '12/26/2014',
 '3/13/2014',
 '04-01-2014',
 '04-05-2013',
 '12/28/2013',
 '4/19/2014',
 '5/25/2012',
 '08-08-2015',
 '5/20/2014',
 '01-05-2015',
 '2/19/2012',
 '06-02-2014',
 '10-02-2014',
 '11/14/2015',
 '09-04-2014',
 '12/14/2014',
 '3/21/2015',
 '12/20/2015',
 '11/14/2015',
 '3/19/2014',
 '11/14/2015',
 '9/18/2015',
 '11/27/2014',
 '11-10-2014',
 '7/23/2015',
 '8/16/2013',
 '11-08-2015',
 '1/14/2013',
 '1/30/2014',
 '6/17/2013',
 '11-08-2015',
 '09-04-2014',
 '12-08-2013',
 '09-07-2014',
 '9/20/2015',
 '09-04-2014',
 '08-08-2013',
 '12-11-2015',
 '10/28/2013',
 '5/13/2015',
 '8/29/2014',
 '5/16/2012',
 '11-05-2012',
 '08-03-2015',
 '9/21/2012',
 '3/19/2014',
 '3/15/2014',
 '02-04-2013',
 '3/19/2014',
 '4/13/2015',
 '09-04-2014',
 '3/21/2015',
 '10-04-2014',
 '1/15/2014',
 '8/25/2015',
 '12/19/2012',
 '3/18/2015',
 '9/24/2013',
 '7/13/2015',
 '6/15/2014',
 '8/16/2012',
 '3/21/2015',
 '01-03-2014',
 '09-04-2014',
 '10-11-2013',
 '09-04-2014',
 '6/18/2012',
 '04-05-2015',
 '5/19/2012',
 '2/15/2015',
 '10-12-2014',
 '9/22/2015',
 '7/19/2015',
 '11/28/2015',
 '06-01-2012',
 '11-08-2015',
 '7/20/2015',
 '09-03-2015',
 '12/26/2013',
 '11/15/2015',
 '05-04-2014',
 '8/20/2012',
 '12-07-2015',
 '6/29/2014',
 '1/24/2014',
 '10/25/2015',
 '7/14/2015',
 '10/25/2015',
 '09-01-2015',
 '10/25/2015',
 '06-10-2012',
 '10-12-2012',
 '06-10-2014',
 '12/17/2015',
 '9/21/2014',
 '06-11-2015',
 '2/16/2012',
 '12-04-2014',
 '6/27/2014',
 '4/19/2015',
 '08-08-2012',
 '12/22/2014',
 '08-04-2013',
 '6/19/2013',
 '04-12-2015',
 '08-02-2014',
 '5/25/2015',
 '2/15/2012',
 '9/27/2014',
 '06-04-2015',
 '10-03-2014',
 '7/19/2012',
 '8/16/2015',
 '10/25/2015',
 '11-03-2015',
 '7/30/2014',
 '10-11-2015',
 '10/21/2015',
 '12-06-2014',
 '11-10-2015',
 '06-10-2014',
 '9/22/2012',
 '6/23/2012',
 '9/29/2015',
 '5/25/2015',
 '11/29/2015',
 '04-01-2013',
 '11/14/2012',
 '10/25/2015',
 '08-06-2013',
 '12/22/2014',
 '6/27/2014',
 '6/27/2014',
 '1/27/2014',
 '5/24/2012',
 '10-01-2015',
 '11-07-2012',
 '1/30/2015',
 '9/19/2015',
 '12-01-2015',
 '12/23/2012',
 '02-07-2014',
 '12/28/2012',
 '10/25/2015',
 '4/29/2012',
 '10-10-2012',
 '8/26/2014',
 '9/24/2014',
 '12/19/2015',
 '11/21/2012',
 '12/23/2013',
 '9/29/2015',
 '06-07-2015',
 '9/14/2015',
 '4/17/2015',
 '11/24/2013',
 '03-08-2015',
 '7/28/2013',
 '11-09-2015',
 '11/24/2015',
 '6/13/2012',
 '9/19/2013',
 '11/24/2012',
 '08-12-2013',
 '3/23/2014',
 '01-04-2015',
 '10-09-2013',
 '08-07-2013',
 '10-02-2013',
 '3/29/2015',
 '11/21/2015',
 '11/30/2012',
 '11-04-2012',
 '5/25/2015',
 '12-06-2013',
 '12-04-2014',
 '12/24/2013',
 '9/15/2013',
 '9/19/2015',
 '9/28/2012',
 '11/13/2013',
 '5/26/2013',
 '6/27/2014',
 '4/17/2015',
 '09-02-2015',
 '5/18/2015',
 '12/15/2013',
 '04-03-2012',
 '02-07-2013',
 '06-01-2014',
 '09-01-2013',
 '6/16/2012',
 '8/31/2015',
 '10/27/2012',
 '3/23/2015',
 '9/18/2015',
 '8/28/2013',
 '9/19/2015',
 '08-04-2014',
 '6/27/2014',
 '12/27/2015',
 '9/19/2015',
 '2/25/2013',
 '10/13/2015',
 '4/23/2015',
 '6/17/2014',
 '9/20/2014',
 '9/19/2015',
 '12-03-2015',
 '09-01-2015',
 '6/26/2015',
 '10/25/2015',
 '8/19/2012',
 '9/14/2015',
 '04-05-2015',
 '1/16/2015',
 '11/15/2015',
 '6/13/2014',
 '9/19/2015',
 '9/25/2015',
 '1/13/2012',
 '9/28/2012',
 '7/30/2014',
 '12-06-2015',
 '05-04-2015',
 '9/29/2012',
 '6/28/2015',
 '04-07-2012',
 '08-09-2015',
 '04-05-2015',
 '2/16/2015',
 '12/25/2012',
 '8/19/2013',
 '11/13/2013',
 '08-08-2013',
 '6/27/2014',
 '05-07-2014',
 '08-11-2013',
 '2/22/2014',
 '7/19/2013',
 '9/17/2014',
 '04-12-2015',
 '6/20/2013',
 '01-02-2015',
 '05-07-2014',
 '1/17/2013',
 '6/14/2013',
 '3/22/2015',
 '11/17/2013',
 '05-07-2014',
 '9/19/2015',
 '5/19/2015',
 '11/13/2013',
 '12/24/2015',
 '9/14/2014',
 '1/13/2014',
 '6/27/2015',
 '7/16/2013',
 '02-11-2015',
 '06-05-2015',
 '4/18/2015',
 '11/29/2015',
 '11-10-2012',
 '9/18/2015',
 '2/27/2015',
 '09-05-2014',
 '12/25/2014',
 '6/19/2015',
 '3/17/2015',
 '7/13/2015',
 '06-12-2015',
 '10/17/2015',
 '08-09-2015',
 '12/28/2013',
 '12-07-2013',
 '5/20/2014',
 '6/18/2014',
 '11-07-2015',
 '5/31/2013',
 '8/20/2014',
 '06-04-2012',
 '7/14/2012',
 '11/13/2013',
 '10/23/2012',
 '11/19/2012',
 '7/18/2015',
 '06-05-2015',
 '12/17/2015',
 '6/28/2015',
 '12/24/2015',
 '02-08-2013',
 '1/27/2012',
 '08-05-2013',
 '10/31/2015',
 '03-04-2013',
 '06-12-2013',
 '2/26/2012',
 '9/28/2012',
 '7/27/2014',
 '04-01-2014',
 '10/25/2015',
 '6/26/2015',
 '11-05-2014',
 '12/15/2013',
 '05-06-2014',
 '9/28/2012',
 '09-09-2012',
 '4/26/2013',
 '11-04-2014',
 '4/16/2012',
 '9/17/2014',
 '12/22/2014',
 '11-04-2015',
 '4/14/2014',
 '11-11-2014',
 '10/17/2013',
 '10/16/2013',
 '02-03-2015',
 '10/16/2013',
 '06-07-2015',
 '11/24/2015',
 '9/23/2014',
 '01-05-2014',
 '12/31/2015',
 '11/19/2014',
 '12/22/2012',
 '5/21/2015',
 '09-11-2015',
 '6/19/2014',
 '12-07-2012',
 '9/21/2015',
 '10-01-2014',
 '2/14/2015',
 '02-11-2015',
 '08-07-2014',
 '4/18/2015',
 '11-12-2013',
 '05-07-2015',
 '11-06-2014',
 '06-12-2015',
 '09-02-2013',
 '6/22/2014',
 '8/28/2015',
 '5/29/2013',
 '5/21/2015',
 '4/30/2014',
 '12/25/2014',
 '10/15/2015',
 '4/17/2015',
 '12-03-2015',
 '5/13/2013',
 '6/24/2014',
 '05-06-2013',
 '11/14/2012',
 '12/24/2015',
 '5/19/2015',
 '12-12-2015',
 '12-10-2012',
 '9/15/2014',
 '03-04-2012',
 '01-05-2013',
 '11-03-2013',
 '11/19/2014',
 '8/17/2014',
 '06-08-2014',
 '10-06-2015',
 '03-03-2015',
 '11-04-2014',
 '12/25/2014',
 '5/15/2015',
 '07-08-2015',
 '5/21/2013',
 '08-05-2012',
 '9/26/2015',
 '2/16/2014',
 '5/23/2013',
 '08-09-2015',
 '11/18/2014',
 '2/14/2015',
 '11/14/2015',
 '04-01-2014',
 '11-12-2013',
 '9/26/2015',
 '8/21/2014',
 '5/31/2015',
 '8/29/2013',
 '07-05-2015',
 '3/17/2013',
 '5/15/2015',
 '9/18/2015',
 '08-12-2015',
 '09-09-2014',
 '09-11-2015',
 '11-12-2013',
 '10/21/2013',
 '2/18/2015',
 '2/28/2013',
 '12-10-2013',
 '12/14/2013',
 '6/21/2015',
 '12/22/2013',
 '5/17/2015',
 '08-08-2015',
 '11-11-2015',
 '6/14/2014',
 '05-12-2013',
 '9/13/2014',
 '7/28/2014',
 '10/14/2015',
 '11/24/2012',
 '11-12-2013',
 '10/25/2015',
 '02-07-2014',
 '10/15/2014',
 '2/16/2012',
 '05-01-2015',
 '03-12-2012',
 '08-08-2013',
 '12/23/2013',
 '08-07-2013',
 '6/22/2013',
 '02-09-2014',
 '10-02-2012',
 '6/26/2013',
 '12/22/2014',
 '10/14/2013',
 '09-04-2012',
 '7/18/2015',
 '12-12-2012',
 '4/16/2015',
 '9/26/2015',
 '09-01-2012',
 '08-02-2014',
 '9/14/2015',
 '08-07-2015',
 '11/23/2015',
 '05-09-2013',
 '8/31/2013',
 '12/29/2014',
 '1/31/2014',
 '5/15/2015',
 '12/28/2012',
 '12-04-2013',
 '5/23/2014',
 '11-12-2013',
 '6/28/2015',
 '9/26/2015',
 '7/28/2014',
 '11/24/2015',
 '10/28/2012',
 '11-12-2013',
 '12/27/2013',
 '12/22/2012',
 '05-10-2013',
 '01-12-2012',
 '12/22/2014',
 '4/13/2015',
 '6/19/2012',
 '01-10-2013',
 '2/15/2015',
 '7/17/2012',
 '4/14/2013',
 '01-04-2015',
 '4/13/2015',
 '12/19/2015',
 '07-06-2015',
 '8/24/2015',
 '10-08-2015',
 '6/24/2014',
 '7/14/2015',
 '4/27/2015',
 '05-07-2012',
 '10-09-2012',
 '11/16/2015',
 '12/19/2015',
 '8/24/2015',
 '04-08-2014',
 '9/19/2015',
 '12/22/2014',
 '7/14/2015',
 '10-12-2015',
 '06-07-2014',
 '8/22/2013',
 '8/29/2012',
 '12-05-2013',
 '10/18/2015',
 '12/21/2014',
 '6/22/2013',
 '8/20/2014',
 '6/25/2013',
 '5/25/2013',
 '05-03-2014',
 '6/15/2013',
 '12/22/2014',
 '12/22/2014',
 '7/25/2015',
 '02-09-2014',
 '10/28/2012',
 '12/22/2014',
 '03-01-2014',
 '11/29/2012',
 '8/24/2013',
 '5/28/2013',
 '11-07-2012',
 '9/26/2012',
 '10/19/2014',
 '12/22/2014',
 '06-09-2014',
 '5/16/2014',
 '12/22/2014',
 '07-06-2015',
 '10/24/2014',
 '8/14/2015',
 '05-08-2014',
 '7/15/2014',
 '12/22/2014',
 '12-06-2015',
 '1/13/2015',
 '07-04-2014',
 '6/27/2015',
 '3/16/2012',
 '1/21/2014',
 '09-02-2013',
 '11/20/2012',
 '12/28/2015',
 '6/20/2013',
 '7/15/2014',
 '5/25/2013',
 '08-09-2015',
 '8/15/2015',
 '12/28/2013',
 '01-10-2014',
 '12/31/2015',
 '12/20/2014',
 '03-04-2014',
 '07-04-2013',
 '8/24/2013',
 '11-05-2015',
 '07-07-2013',
 '12-04-2015',
 '04-12-2012',
 '11/23/2015',
 '5/13/2013',
 '11/23/2013',
 '09-01-2015',
 '11-08-2014',
 '11/23/2015',
 '11/24/2014',
 '01-03-2016',
 '11/20/2014',
 '02-04-2013',
 '3/19/2014',
 '3/23/2013',
 '5/29/2015',
 '6/16/2014',
 '03-07-2012',
 '03-07-2012',
 '03-07-2012',
 '12-11-2014',
 '10/14/2014',
 '10/18/2014',
 '12/27/2012',
 '4/19/2014',
 '08-08-2012',
 '03-07-2012',
 '10/23/2012',
 '2/26/2012',
 '03-11-2012',
 '1/29/2015',
 '6/18/2015',
 '12/29/2012',
 '01-11-2014',
 '01-10-2014',
 '02-04-2015',
 '11-05-2012',
 '09-09-2015',
 '9/24/2014',
 '6/26/2012',
 '09-02-2013',
 '6/19/2014',
 '11/22/2015',
 '12/22/2013',
 '10-01-2014',
 '3/28/2015',
 '02-02-2014',
 '12-02-2012',
 '06-01-2015',
 '6/17/2015',
 '11/15/2012',
 '06-05-2014',
 '03-07-2012',
 '8/18/2012',
 '03-11-2013',
 '11/22/2015',
 '08-06-2015',
 '6/21/2015',
 '01-01-2016',
 '9/28/2013',
 '2/23/2014',
 '11/22/2015',
 '11/22/2015',
 '11/26/2015',
 '9/29/2015',
 '11-07-2015',
 '09-04-2015',
 '9/15/2013',
 '1/21/2014',
 '4/20/2015',
 '03-08-2014',
 '2/25/2012',
 '04-02-2013',
 '9/20/2015',
 '07-11-2014',
 '07-01-2013',
 '01-01-2015',
 '9/21/2015',
 '02-02-2015',
 '09-09-2012',
 '2/21/2015',
 '06-02-2013',
 '01-04-2014',
 '11/25/2013',
 '4/17/2015',
 '08-07-2013',
 '11/22/2015',
 '12/16/2012',
 '6/23/2015',
 '4/18/2015',
 '5/25/2014',
 '10-07-2015',
 '12/30/2012',
 '10-01-2015',
 '07-01-2013',
 '8/28/2015',
 '11/21/2015',
 '12-07-2013',
 '09-06-2015',
 '10-02-2015',
 '04-02-2015',
 '9/28/2013',
 '01-02-2016',
 '1/25/2015',
 '7/18/2014',
 '03-02-2012',
 '3/31/2015',
 '06-06-2014',
 '03-12-2014',
 '11/19/2012',
 '10/17/2015',
 '5/22/2012',
 '5/15/2013',
 '09-03-2015',
 '6/22/2015',
 '5/13/2015',
 '8/20/2014',
 '6/27/2014',
 '1/24/2012',
 '04-02-2013',
 '12-08-2015',
 '07-04-2014',
 '5/26/2013',
 '12/14/2015',
 '12/15/2013',
 '03-07-2015',
 '6/29/2014',
 '06-04-2015',
 '10-02-2012',
 '06-09-2014',
 '10/18/2014',
 '12-10-2015',
 '07-01-2013',
 '11/22/2015',
 '11/13/2013',
 '06-12-2012',
 '04-12-2015',
 '10/20/2012',
 '4/30/2013',
 '09-02-2013',
 '4/21/2013',
 '12/22/2014',
 '06-08-2014',
 '07-01-2013',
 '8/20/2013',
 '8/18/2015',
 '4/18/2015',
 '09-09-2014',
 '06-01-2015',
 '07-01-2014',
 '4/18/2015',
 '05-10-2015',
 '12-10-2015',
 '2/14/2015',
 '12-05-2015',
 '8/29/2013',
 '08-08-2015',
 '11/30/2014',
 '8/22/2012',
 '3/13/2015',
 '04-07-2014',
 '1/28/2015',
 '5/22/2015',
 '4/25/2014',
 '1/28/2015',
 '9/16/2013',
 '9/28/2015',
 '10-09-2013',
 '10/31/2015',
 '11/24/2012',
 '12/13/2015',
 '12-09-2012',
 '12/27/2012',
 '12/17/2014',
 '4/18/2015',
 '12/24/2015',
 '9/20/2014',
 '12-07-2015',
 '05-06-2015',
 '12/28/2013',
 '10/14/2014',
 '4/27/2013',
 '6/23/2015',
 '12-03-2013',
 '07-02-2015',
 '6/28/2015',
 '9/19/2013',
 '12-02-2014',
 '11/19/2015',
 '7/25/2015',
 '09-08-2015',
 '6/18/2013',
 '1/28/2015',
 '12-07-2015',
 '1/22/2015',
 '07-01-2015',
 '1/25/2013',
 '07-12-2013',
 '11/29/2012',
 '12-01-2015',
 '12-09-2013',
 '11/21/2012',
 '12/21/2013',
 '11/25/2014',
 '09-04-2015',
 '5/16/2015',
 '11-09-2014',
 '11-12-2012',
 '04-11-2014',
 '6/13/2015',
 '6/15/2014',
 '07-09-2015',
 '05-05-2014',
 '07-08-2013',
 '11-08-2013',
 '1/28/2015',
 '9/17/2012',
 '01-01-2015',
 '12/21/2014',
 '09-04-2015',
 '12/21/2014',
 '6/29/2014',
 '6/27/2012',
 '9/26/2015',
 '03-07-2013',
 '12/21/2014',
 '10-08-2014',
 '11/15/2013',
 '1/29/2013',
 '12/22/2013',
 '08-12-2012',
 '03-07-2013',
 '12/21/2015',
 '11/21/2012',
 '10/20/2014',
 '10/13/2015',
 '3/30/2015',
 '11-08-2015',
 '01-03-2014',
 '8/30/2015',
 '8/30/2015',
 '4/13/2015',
 '10-05-2015',
 '11/17/2013',
 '10/20/2015',
 '12-07-2015',
 '10/25/2013',
 '9/25/2012',
 '11/17/2012',
 '12-09-2013',
 '3/15/2013',
 '01-01-2016',
 '12/30/2012',
 '10/16/2015',
 '02-04-2015',
 '11/18/2014',
 '09-07-2015',
 '8/19/2013',
 '7/16/2015',
 '1/17/2013',
 '4/25/2013',
 '10/17/2014',
 '05-10-2013',
 '08-07-2012',
 '12/20/2012',
 '11/28/2015',
 '11/18/2012',
 '11-08-2013',
 '01-09-2013',
 '12-05-2012',
 '9/26/2012',
 '8/30/2013',
 '3/16/2015',
 '11/15/2013',
 '6/21/2015',
 '06-11-2013',
 '05-04-2014',
 '10-05-2014',
 '12/18/2012',
 '10/29/2013',
 '2/25/2014',
 '09-12-2015',
 '10/19/2014',
 '12-09-2013',
 '10/18/2014',
 '3/14/2015',
 '9/21/2015',
 '11-05-2012',
 '10-06-2015',
 '7/13/2015',
 '3/19/2013',
 '6/15/2014',
 '09-03-2014',
 '5/28/2014',
 '07-03-2012',
 '12/13/2012',
 '12-05-2012',
 '8/17/2014',
 '09-12-2013',
 '6/17/2014',
 '10/24/2014',
 '6/15/2014',
 '9/22/2013',
 '5/17/2015',
 '2/27/2014',
 '12-12-2012',
 '10/22/2014',
 '12-04-2014',
 '12/28/2015',
 '02-10-2013',
 '12-09-2013',
 '8/29/2015',
 '2/15/2014',
 '3/16/2015',
 '5/13/2012',
 '10/19/2012',
 '8/14/2014',
 '6/30/2015',
 '02-01-2015',
 '5/30/2015',
 '10/27/2012',
 '1/30/2015',
 '5/24/2014',
 '8/14/2012',
 '05-04-2012',
 '8/27/2014',
 '10-07-2013',
 '6/26/2014',
 '9/22/2015',
 '4/24/2015',
 '10/19/2012',
 '3/30/2015',
 '09-12-2015',
 '11/20/2014',
 '10/20/2015',
 '03-12-2013',
 '4/16/2015',
 '6/20/2013',
 '7/14/2012',
 '06-04-2014',
 '6/20/2014',
 '3/29/2015',
 '9/16/2012',
 '9/25/2013',
 '10/19/2012',
 '12/19/2012',
 '9/22/2015',
 '8/20/2012',
 '9/28/2013',
 '04-05-2015',
 '12/13/2015',
 '10/19/2014',
 '1/26/2014',
 '12/14/2015',
 ...]

In [169]:
order_datetime = pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [170]:
ship_datetime = pd.to_datetime(ship_date)
ship_datetime

DatetimeIndex(['2014-11-13', '2014-02-07', '2014-10-18', '2014-01-30',
               '2014-11-06', '2014-07-01', '2012-11-08', '2013-04-18',
               '2014-11-13', '2012-03-07',
               ...
               '2014-07-09', '2015-06-11', '2015-08-10', '2015-05-30',
               '2013-12-31', '2015-06-19', '2014-05-10', '2012-08-31',
               '2013-02-21', '2013-05-26'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [171]:
Order_date = pd.Series(order_datetime, name= 'Order_Date')
Ship_date = pd.Series(ship_datetime, name = 'Ship_Date')

In [172]:
data.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [173]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [174]:
data.drop(columns=['Row ID','Order Date', 'Ship Date','Customer ID','Postal Code'], inplace=True)
data.head(2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [175]:
df = pd.concat([data, Order_date, Ship_date], axis=1)
df.head(2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_Date,Ship_Date
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,...,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High,2014-11-11,2014-11-13
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,...,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical,2014-02-05,2014-02-07

In [176]:
df['Order_Date']

0       2014-11-11
1       2014-02-05
2       2014-10-17
3       2014-01-28
4       2014-11-05
           ...
51285   2015-06-19
51286   2014-05-06
51287   2012-08-26
51288   2013-02-17
51289   2013-05-22
Name: Order_Date, Length: 51290, dtype: datetime64[ns]

In [177]:
df['Ship_Date']

0       2014-11-13
1       2014-02-07
2       2014-10-18
3       2014-01-30
4       2014-11-06
           ...
51285   2015-06-19
51286   2014-05-10
51287   2012-08-31
51288   2013-02-21
51289   2013-05-26
Name: Ship_Date, Length: 51290, dtype: datetime64[ns]

In [178]:
df.columns.values

array(['Order ID', 'Ship Mode', 'Customer Name', 'Segment', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'Order_Date',
       'Ship_Date'], dtype=object)

In [179]:
df = df.reindex(columns=['Order ID','Order_Date',
       'Ship_Date', 'Ship Mode', 'Customer Name', 'Segment', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'])

In [180]:
df.head(2)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [181]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                     object
Quantity                   int64
Discount                 float64
Profit                    object
Shipping Cost            float64
Order Priority            object
dtype: object

In [182]:
df['Shipping Cost'] = df['Shipping Cost'].astype(int)

In [183]:
df['Shipping Cost'].value_counts

<bound method IndexOpsMixin.value_counts of 0         40
1        923
2        915
3        910
4        903
        ...
51285      1
51286      1
51287      1
51288      1
51289      1
Name: Shipping Cost, Length: 51290, dtype: int64>

In [184]:
if df['Sales'].str.contains('$').all():
    print('yes')

yes

In [185]:
if df['Profit'].str.contains(',').any():
    print('yes')

yes

In [186]:
df['Sales']

0          $221.98
1        $3,709.40
2        $5,175.17
3        $2,892.51
4        $2,832.96
            ...
51285       $65.10
51286       $16.72
51287        $8.56
51288       $13.44
51289       $61.38
Name: Sales, Length: 51290, dtype: object

In [187]:
df['Sales'] = df['Sales'].str.replace('$', '', regex=True)
df['Sales']

0          221.98
1        3,709.40
2        5,175.17
3        2,892.51
4        2,832.96
           ...
51285       65.10
51286       16.72
51287        8.56
51288       13.44
51289       61.38
Name: Sales, Length: 51290, dtype: object

In [188]:
df['Sales'] = df['Sales'].str.replace(',', '', regex=True)
df['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
           ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: object

In [189]:
df['Profit']

0          $62.15
1        ($288.77)
2         $919.97
3         ($96.54)
4         $311.52
           ...
51285       $4.50
51286       $3.34
51287       $2.48
51288       $2.40
51289       $1.80
Name: Profit, Length: 51290, dtype: object

In [190]:
df['Profit'] = df['Profit'].str.replace('$', '', regex=True)
df['Profit']

0          62.15
1        (288.77)
2         919.97
3         (96.54)
4         311.52
           ...
51285       4.50
51286       3.34
51287       2.48
51288       2.40
51289       1.80
Name: Profit, Length: 51290, dtype: object

In [191]:
df['Profit'] = df['Profit'].str.replace(',', '', regex=True)
df['Profit']

0          62.15
1        (288.77)
2         919.97
3         (96.54)
4         311.52
           ...
51285       4.50
51286       3.34
51287       2.48
51288       2.40
51289       1.80
Name: Profit, Length: 51290, dtype: object

In [192]:
df['Profit'] = df['Profit'].str.replace('(', '', regex=True)
df['Profit']

0         62.15
1        288.77)
2        919.97
3         96.54)
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: object

In [193]:
df['Profit'] = df['Profit'].str.replace(')', '', regex=True)
df['Profit']

0         62.15
1         288.77
2        919.97
3          96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: object

In [194]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                     object
Quantity                   int64
Discount                 float64
Profit                    object
Shipping Cost              int64
Order Priority            object
dtype: object

In [195]:
df['Profit'] = pd.to_numeric(df['Profit'] , downcast= 'signed')
df['Profit']

0         62.15
1        288.77
2        919.97
3         96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: float64

In [196]:
df['Sales'] = pd.to_numeric(df['Sales'] , downcast= 'integer')
df['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
          ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: float64

In [197]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost              int64
Order Priority            object
dtype: object

In [198]:
df['Profit'] = df['Profit'].astype(int)
df['Sales'] = df['Sales'].astype(int)

In [199]:
df.dtypes

Order ID                  object
Order_Date        datetime64[ns]
Ship_Date         datetime64[ns]
Ship Mode                 object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                      int64
Quantity                   int64
Discount                 float64
Profit                     int64
Shipping Cost              int64
Order Priority            object
dtype: object

In [200]:
#1. Total, how many orders have cross the shipping cost of 500?

In [203]:
df.head(5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221,2,0.0,62,40,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical

In [204]:
cond1 = (df['Shipping Cost'] > 500.00 )

In [206]:
a1 = df[cond1]
a1[:5]

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical
5,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,Jim Mitchum,Corporate,Sydney,New South Wales,Australia,Oceania,...,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862,5,0.1,763,897,Critical

In [207]:
a1.shape

(120, 21)

In [208]:
len(a1['Order ID'])

120

In [210]:
#2. Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.

In [215]:
df['Segment'].value_counts()

Consumer       26518
Corporate      15429
Home Office     9343
Name: Segment, dtype: int64

In [216]:
df['Country'].value_counts()

United States    9994
Australia        2837
France           2827
Mexico           2635
Germany          2063
                 ...
Bhutan              1
Malawi              1
Kuwait              1
Suriname            1
The Gambia          1
Name: Country, Length: 165, dtype: int64

In [217]:
df['Region'].value_counts()

Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: Region, dtype: int64

In [218]:
df['Market'].value_counts()

Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
Name: Market, dtype: int64

In [223]:
df['Category'].value_counts()

Office Supplies    31289
Technology         10141
Furniture           9860
Name: Category, dtype: int64

In [221]:
len(df['Category'].value_counts())

3

In [220]:
df['Sub-Category'].value_counts()

Binders        6146
Storage        5049
Art            4864
Paper          3492
Chairs         3434
Phones         3357
Furnishings    3154
Accessories    3075
Labels         2601
Fasteners      2601
Bookcases      2411
Supplies       2407
Envelopes      2387
Copiers        2223
Appliances     1742
Machines       1486
Tables          861
Name: Sub-Category, dtype: int64

In [222]:
#3. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

In [224]:
cond2 = ( df['Category'] == 'Technology') & (df['Shipping Cost'] >= 500 ) & (df['Country'] == 'India')

In [226]:
a2 = df[cond2]
a2.head(5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,Gorakhpur,Haryana,India,Southern Asia,...,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518,7,0.0,632,658,High
48,IN-2015-SW2027558-42125,2015-05-01,2015-05-01,Same Day,Scott Williamson,Consumer,Jamshedpur,Jharkhand,India,Southern Asia,...,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174,7,0.0,500,637,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,Bhopal,Madhya Pradesh,India,Southern Asia,...,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,625,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,Delhi,Delhi,India,Southern Asia,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916,3,0.0,498,548,Critical

In [231]:
a2['Order ID'].tolist()

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419']

In [228]:
a2.shape

(4, 21)

In [230]:
#4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.

In [232]:
cond3 = ( df['Category'] == 'Technology') & (df['Sales'] >= 500 ) & (df['Country'] == 'India')

In [234]:
a3 = df[cond3]
a3.shape

(163, 21)

In [235]:
liste= a3['Order ID'].tolist()
liste[:5]

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419',
 'IN-2014-SV2081558-41968']

In [237]:
len(a3)

163

In [238]:
#5. How many people from the State 'Karnataka' have bought the things under the category 'Technology'?

In [239]:
cond4 = ( df['State'] == 'Karnataka') & (df['Category'] == 'Technology')
a4 = df[cond4]
len(a4)

21

In [241]:
#6. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.